
body{
  background-color: lightskyblue;
}
#centerpage{
  display: flex;
  justify-content: center;

}

h1 {
  text-align: center;
  font-family: 'Teko', sans-serif;
  font-size: 70px;
  margin-bottom: -10px;
  margin-top: 0px;
}
h3{
  text-align: center;
  font-family: 'Teko', sans-serif;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 2px;
}
p{
  text-align: left;
}
/* .column {
  float: left;
} */

.row{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.left {
  width: 66%;
  float: right;
}

.right {
  width: 34%;
}

.centering{
  text-align: center;
}

.bottom{
  margin-top: 10px;
}

#holder{
  width: 450px;
  margin: 0 auto;
}

#grid{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#square{
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

#button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	background-color:#63b8ee;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #7cacde;
}
button:hover {
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	background-color:#468ccf;
}
button:active {
	position:relative;
	top:1px;
}

        